In [1]:
import numpy as np
import pandas as pd

In [3]:
label=['a','b','c']
no=[10,20,30]
pd.Series(no)

0    10
1    20
2    30
dtype: int64

In [4]:
pd.Series(data=no,index=label)

a    10
b    20
c    30
dtype: int64

In [5]:
pd.Series(no,label)

a    10
b    20
c    30
dtype: int64

In [6]:
d={'a':10,'b':20,'c':30,'d':50}
pd.Series(d)

a    10
b    20
c    30
d    50
dtype: int64

In [7]:
pd.Series([sum,len,print])

0      <built-in function sum>
1      <built-in function len>
2    <built-in function print>
dtype: object

In [11]:
data=[1,2,3,4]
index=['india','urope','america','england']
ser1=pd.Series(data,index)

In [12]:
ser1['india']

1



#

In [25]:
data1=[1,2,3,6]
index1=['india','hai','hii','england']
ser2=pd.Series(data1,index1)

In [26]:
ser1+ser2

america     NaN
england    10.0
hai         NaN
hii         NaN
india       2.0
urope       NaN
dtype: float64

In [27]:
from numpy.random import randn
np.random.seed(101)

In [29]:
df=pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [30]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [34]:
df[['W']]

          W
A  2.706850
B  0.651118
C -2.018168
D  0.188695
E  0.190794

In [35]:
df[['W','Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [36]:
type(df['W'])

pandas.core.series.Series

In [39]:
df['new']=df['W']+df['W']

In [40]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  5.413700
B  0.651118 -0.319318 -0.848077  0.605965  1.302236
C -2.018168  0.740122  0.528813 -0.589001 -4.036336
D  0.188695 -0.758872 -0.933237  0.955057  0.377391
E  0.190794  1.978757  2.605967  0.683509  0.381589

In [41]:
df.drop('new',axis=1,inplace=True)

In [42]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [43]:
df.drop('E',axis=0)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [44]:
df.loc['A']

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [45]:
df.iloc[2]

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

In [46]:
df.loc['B','Y']df[df'W]

-0.8480769834036315

In [47]:
df>0

       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

In [49]:
df[df>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [50]:
df[df['W']>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [51]:
df[df['W']>0][['Y','X']]

          Y         X
A  0.907969  0.628133
B -0.848077 -0.319318
D -0.933237 -0.758872
E  2.605967  1.978757

In [59]:
df[(df['W']>0) & (df['Y']>1)]

          W         X         Y         Z
E  0.190794  1.978757  2.605967  0.683509

In [60]:
index='AA AB AC AD AE'.split()
index

['AA', 'AB', 'AC', 'AD', 'AE']

In [61]:
df['states']=index

In [62]:
df

          W         X         Y         Z states
A  2.706850  0.628133  0.907969  0.503826     AA
B  0.651118 -0.319318 -0.848077  0.605965     AB
C -2.018168  0.740122  0.528813 -0.589001     AC
D  0.188695 -0.758872 -0.933237  0.955057     AD
E  0.190794  1.978757  2.605967  0.683509     AE

In [63]:
df.set_index('states')

               W         X         Y         Z
states
AA      2.706850  0.628133  0.907969  0.503826
AB      0.651118 -0.319318 -0.848077  0.605965
AC     -2.018168  0.740122  0.528813 -0.589001
AD      0.188695 -0.758872 -0.933237  0.955057
AE      0.190794  1.978757  2.605967  0.683509

In [64]:
df

          W         X         Y         Z states
A  2.706850  0.628133  0.907969  0.503826     AA
B  0.651118 -0.319318 -0.848077  0.605965     AB
C -2.018168  0.740122  0.528813 -0.589001     AC
D  0.188695 -0.758872 -0.933237  0.955057     AD
E  0.190794  1.978757  2.605967  0.683509     AE

In [65]:
df.set_index('states',inplace=True)

In [66]:
df

               W         X         Y         Z
states
AA      2.706850  0.628133  0.907969  0.503826
AB      0.651118 -0.319318 -0.848077  0.605965
AC     -2.018168  0.740122  0.528813 -0.589001
AD      0.188695 -0.758872 -0.933237  0.955057
AE      0.190794  1.978757  2.605967  0.683509

In [67]:
df

               W         X         Y         Z
states
AA      2.706850  0.628133  0.907969  0.503826
AB      0.651118 -0.319318 -0.848077  0.605965
AC     -2.018168  0.740122  0.528813 -0.589001
AD      0.188695 -0.758872 -0.933237  0.955057
AE      0.190794  1.978757  2.605967  0.683509

### index level

In [68]:
outside=['g1','g1','g1','g2','g2','g2']
inside=[1,2,3,1,2,3]
hier_index=list(zip(outside,inside))
hier_index=pd.MultiIndex.from_tuples(hier_index)

In [69]:
hier_index

MultiIndex(levels=[['g1', 'g2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [72]:
df=pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])

In [73]:
df

             A         B
g1 1  0.302665  1.693723
   2 -1.706086 -1.159119
   3 -0.134841  0.390528
g2 1  0.166905  0.184502
   2  0.807706  0.072960
   3  0.638787  0.329646

In [74]:
df.loc['g1'].loc[1]

A    0.302665
B    1.693723
Name: 1, dtype: float64

In [75]:
df.index.names=['group','name']

In [76]:
df

                   A         B
group name
g1    1     0.302665  1.693723
      2    -1.706086 -1.159119
      3    -0.134841  0.390528
g2    1     0.166905  0.184502
      2     0.807706  0.072960
      3     0.638787  0.329646

In [77]:
df.xs('g1')

             A         B
name
1     0.302665  1.693723
2    -1.706086 -1.159119
3    -0.134841  0.390528

In [80]:
df.xs(['g1',1])

A    0.302665
B    1.693723
Name: (g1, 1), dtype: float64

In [82]:
df.xs(1,level='name')

              A         B
group
g1     0.302665  1.693723
g2     0.166905  0.184502

In [11]:
n=int(input("entern no"))
for i in range(0,n):
    for j in range(0,n):
        if i+j<=n/2:
            print(" ",end="")
        if i+j>=n/2+1:
            print("*",end=" ")
    print()

entern no6
   *
  * *
 * * *
* * * *
* * * * *
* * * * * *

In [17]:
import numpy as np
import pandas as pd
df=pd.DataFrame({'A':[1,2,np.nan],'B':[5,np.nan,np.nan],'C':[1,2,3]})

In [18]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [20]:
df.dropna(thresh=1)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [23]:
df.fillna(value='FILL VALUE')

            A           B  C
0           1           5  1
1           2  FILL VALUE  2
2  FILL VALUE  FILL VALUE  3

In [22]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [25]:
df.fillna(value='12')

    A   B  C
0   1   5  1
1   2  12  2
2  12  12  3

In [26]:
df['A'].fillna(value=df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

In [27]:
df=pd.read_csv('example')
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [33]:
df=pd.read_excel('Excel_Sample.xlsx',sheetname='Sheet1')
df

E:\anaconda3\lib\site-packages\pandas\io\excel.py:329: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  **kwds)

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [3]:
import pandas as pd
df=pd.read_html('https://www.fdic.gov/bank/individual/failed/banklist.html')
df

[                                             Bank Name                City  \
 0                                 The Enloe State Bank              Cooper
 1                  Washington Federal Bank for Savings             Chicago
 2      The Farmers and Merchants State Bank of Argonia             Argonia
 3                                  Fayette County Bank          Saint Elmo
 4    Guaranty Bank, (d/b/a BestBank in Georgia & Mi...           Milwaukee
 5                                       First NBC Bank         New Orleans
 6                                        Proficio Bank  Cottonwood Heights
 7                        Seaway Bank and Trust Company             Chicago
 8                               Harvest Community Bank          Pennsville
 9                                          Allied Bank            Mulberry
 10                        The Woodbury Banking Company            Woodbury
 11                              First CornerStone Bank     King of Prussia
 12                                  Trust Company Bank             Memphis
 13                          North Milwaukee State Bank           Milwaukee
 14                              Hometown National Bank            Longview
 15                                 The Bank of Georgia      Peachtree City
 16                                        Premier Bank              Denver
 17                                      Edgebrook Bank             Chicago
 18                              Doral Bank  En Espaol            San Juan
 19                   Capitol City Bank & Trust Company             Atlanta
 20                             Highland Community Bank             Chicago
 21                    First National Bank of Crestview           Crestview
 22                                  Northern Star Bank             Mankato
 23              Frontier Bank, FSB D/B/A El Paseo Bank         Palm Desert
 24               The National Republic Bank of Chicago             Chicago
 25                                      NBRS Financial          Rising Sun
 26                               GreenChoice Bank, fsb             Chicago
 27                            Eastside Commercial Bank             Conyers
 28                              The Freedom State Bank             Freedom
 29                                         Valley Bank     Fort Lauderdale
 ..                                                 ...                 ...
 526                                  ANB Financial, NA         Bentonville
 527                                          Hume Bank                Hume
 528                             Douglass National Bank         Kansas City
 529                                  Miami Valley Bank            Lakeview
 530                                            NetBank          Alpharetta
 531                          Metropolitan Savings Bank          Pittsburgh
 532                                    Bank of Ephraim             Ephraim
 533                                      Reliance Bank        White Plains
 534              Guaranty National Bank of Tallahassee         Tallahassee
 535                                Dollar Savings Bank              Newark
 536                               Pulaski Savings Bank        Philadelphia
 537              First National Bank of Blanchardville      Blanchardville
 538                              Southern Pacific Bank            Torrance
 539                        Farmers Bank of Cheneyville         Cheneyville
 540                                      Bank of Alamo               Alamo
 541             AmTrade International Bank  En Espaol             Atlanta
 542                     Universal Federal Savings Bank             Chicago
 543                       Connecticut Bank of Commerce            Stamford
 544                                   New Century Bank     Shelby Township
 545                              Net 1st National Bank          Boca Raton
 546                                       NextBank, NA             Phoenix
 547                           Oakwood Deposit Bank Co.             Oakwood
 548                              Bank of Sierra Blanca       Sierra Blanca
 549                      Hamilton Bank, NA  En Espaol               Miami
 550                             Sinclair National Bank            Gravette
 551                                 Superior Bank, FSB            Hinsdale
 552                                Malta National Bank               Malta
 553                    First Alliance Bank & Trust Co.          Manchester
 554                  National State Bank of Metropolis          Metropolis
 555                                   Bank of Honolulu            Honolulu

      ST   CERT                Acquiring Institution        Closing Date  \
 0    TX  10716                   Legend Bank, N. A.        May 31, 2019
 1    IL  30570                   Royal Savings Bank   December 15, 2017
 2    KS  17719                          Conway Bank    October 13, 2017
 3    IL   1802            United Fidelity Bank, fsb        May 26, 2017
 4    WI  30003  First-Citizens Bank & Trust Company         May 5, 2017
 5    LA  58302                         Whitney Bank      April 28, 2017
 6    UT  35495                    Cache Valley Bank       March 3, 2017
 7    IL  19328                  State Bank of Texas    January 27, 2017
 8    NJ  34951  First-Citizens Bank & Trust Company    January 13, 2017
 9    AR     91                         Today's Bank  September 23, 2016
 10   GA  11297                          United Bank     August 19, 2016
 11   PA  35312  First-Citizens Bank & Trust Company         May 6, 2016
 12   TN   9956           The Bank of Fayette County      April 29, 2016
 13   WI  20364  First-Citizens Bank & Trust Company      March 11, 2016
 14   WA  35156                       Twin City Bank     October 2, 2015
 15   GA  35259                        Fidelity Bank     October 2, 2015
 16   CO  34112            United Fidelity Bank, fsb       July 10, 2015
 17   IL  57772             Republic Bank of Chicago         May 8, 2015
 18   PR  32102         Banco Popular de Puerto Rico   February 27, 2015
 19   GA  33938  First-Citizens Bank & Trust Company   February 13, 2015
 20   IL  20290            United Fidelity Bank, fsb    January 23, 2015
 21   FL  17557                       First NBC Bank    January 16, 2015
 22   MN  34983                            BankVista   December 19, 2014
 23   CA  34738    Bank of Southern California, N.A.    November 7, 2014
 24   IL    916                  State Bank of Texas    October 24, 2014
 25   MD   4862                          Howard Bank    October 17, 2014
 26   IL  28462                 Providence Bank, LLC       July 25, 2014
 27   GA  58125            Community & Southern Bank       July 18, 2014
 28   OK  12483      Alva State Bank & Trust Company       June 27, 2014
 29   FL  21793  Landmark Bank, National Association       June 20, 2014
 ..   ..    ...                                  ...                 ...
 526  AR  33901       Pulaski Bank and Trust Company         May 9, 2008
 527  MO   1971                        Security Bank       March 7, 2008
 528  MO  24660       Liberty Bank and Trust Company    January 25, 2008
 529  OH  16848         The Citizens Banking Company     October 4, 2007
 530  GA  32575                           ING DIRECT  September 28, 2007
 531  PA  35353  Allegheny Valley Bank of Pittsburgh    February 2, 2007
 532  UT   1249                        Far West Bank       June 25, 2004
 533  NY  26778                     Union State Bank      March 19, 2004
 534  FL  26838              Hancock Bank of Florida      March 12, 2004
 535  NJ  31330                          No Acquirer   February 14, 2004
 536  PA  27203                       Earthstar Bank   November 14, 2003
 537  WI  11639                        The Park Bank         May 9, 2003
 538  CA  27094                            Beal Bank    February 7, 2003
 539  LA  16445            Sabine State Bank & Trust   December 17, 2002
 540  TN   9961                          No Acquirer    November 8, 2002
 541  GA  33784                          No Acquirer  September 30, 2002
 542  IL  29355               Chicago Community Bank       June 27, 2002
 543  CT  19183                   Hudson United Bank       June 26, 2002
 544  MI  34979                          No Acquirer      March 28, 2002
 545  FL  26652                       Bank Leumi USA       March 1, 2002
 546  AZ  22314                          No Acquirer    February 7, 2002
 547  OH   8966       The State Bank & Trust Company    February 1, 2002
 548  TX  22002     The Security State Bank of Pecos    January 18, 2002
 549  FL  24382     Israel Discount Bank of New York    January 11, 2002
 550  AR  34248                   Delta Trust & Bank   September 7, 2001
 551  IL  32646                Superior Federal, FSB       July 27, 2001
 552  OH   6629                    North Valley Bank         May 3, 2001
 553  NH  34264  Southern New Hampshire Bank & Trust    February 2, 2001
 554  IL   3815              Banterra Bank of Marion   December 14, 2000
 555  HI  21029                   Bank of the Orient    October 13, 2000

            Updated Date
 0         June 18, 2019
 1      February 1, 2019
 2     February 21, 2018
 3      January 29, 2019
 4        March 22, 2018
 5      January 29, 2019
 6      January 29, 2019
 7      January 29, 2019
 8          May 18, 2017
 9          May 13, 2019
 10    December 13, 2018
 11    November 13, 2018
 12   September 14, 2018
 13     January 29, 2019
 14    February 19, 2018
 15         July 9, 2018
 16    February 20, 2018
 17     January 29, 2019
 18     January 29, 2019
 19     January 29, 2019
 20    November 15, 2017
 21    November 15, 2017
 22      January 3, 2018
 23    November 10, 2016
 24      January 6, 2016
 25     January 29, 2019
 26    December 12, 2016
 27      October 6, 2017
 28    February 21, 2018
 29     January 29, 2019
 ..                  ...
 526    February 1, 2019
 527    January 31, 2019
 528    October 26, 2012
 529  September 12, 2016
 530    January 31, 2019
 531    October 27, 2010
 532       April 9, 2008
 533       April 9, 2008
 534      April 17, 2018
 535       April 9, 2008
 536     October 6, 2017
 537        June 5, 2012
 538    October 20, 2008
 539    October 20, 2004
 540      March 18, 2005
 541  September 11, 2006
 542     October 6, 2017
 543   February 14, 2012
 544      March 18, 2005
 545       April 9, 2008
 546    February 5, 2015
 547    October 25, 2012
 548    November 6, 2003
 549  September 21, 2015
 550     October 6, 2017
 551     August 19, 2014
 552   November 18, 2002
 553   February 18, 2003
 554      March 17, 2005
 555      March 17, 2005

 [556 rows x 7 columns]]

In [8]:
import pandas  as pd
df=pd.DataFrame({'col1':[1,2,3,4],'col2':[444,565,666,444],'col3':['abc','def','ggh','hij']})
df.head()

   col1  col2 col3
0     1   444  abc
1     2   565  def
2     3   666  ggh
3     4   444  hij

In [9]:
df['col2'].unique()

array([444, 565, 666], dtype=int64)

In [10]:
df['col2'].nunique()

3

In [11]:
df['col2'].value_counts()

444    2
666    1
565    1
Name: col2, dtype: int64

### select from dataframe using criteria

In [12]:
newdf=df[(df['col1']>2)&(df['col2']==444)]
newdf

   col1  col2 col3
3     4   444  hij

In [13]:
def times2(x):
    return x*2

In [15]:
df['col1'].apply(times2)

0    2
1    4
2    6
3    8
Name: col1, dtype: int64

In [16]:
df['col1'].sum()

10

In [20]:
del df['col1']

In [21]:
df

   col2 col3
0   444  abc
1   565  def
2   666  ggh
3   444  hij

In [22]:
df.columns

Index(['col2', 'col3'], dtype='object')

In [23]:
df.sort_values(by='col2')

   col2 col3
0   444  abc
3   444  hij
1   565  def
2   666  ggh

In [24]:
df.isnull()#identifies the null value

    col2   col3
0  False  False
1  False  False
2  False  False
3  False  False

In [25]:
df=pd.read_csv('Ecommerce Purchases')

In [26]:
df

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82
5,"7502 Powell Mission Apt. 768\nTravisland, VA 3...",21 XT,PM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_8_5...,Silva-Anderson,30246185196287,07/25,7169,Discover,ynguyen@gmail.com,Fish farm manager,55.96.152.147,ru,25.15
6,"93971 Conway Causeway\nAndersonburgh, AZ 75107",96 Xt,AM,Mozilla/5.0 (compatible; MSIE 7.0; Windows NT ...,Gibson and Sons,6011398782655569,07/24,714,VISA 16 digit,olivia04@yahoo.com,Dancer,127.252.144.18,de,88.56
7,"260 Rachel Plains Suite 366\nCastroberg, WV 24...",96 pG,PM,Mozilla/5.0 (X11; Linux i686) AppleWebKit/5350...,Marshall-Collins,561252141909,06/25,256,VISA 13 digit,phillip48@parks.info,Event organiser,224.247.97.150,pt,44.25
8,"2129 Dylan Burg\nNew Michelle, ME 28650",45 JN,PM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Galloway and Sons,180041795790001,04/24,899,JCB 16 digit,kdavis@rasmussen.com,Financial manager,146.234.201.229,ru,59.54
9,"3795 Dawson Extensions\nLake Tinafort, ID 88739",15 Ug,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.7.20) Gec...,"Rivera, Buchanan and Ramirez",4396283918371,01/17,931,American Express,qcoleman@hunt-huerta.com,Forensic scientist,236.198.199.8,zh,95.63
10,"650 Elizabeth Park\nLake Maria, LA 13526-2530",65 Yn,PM,Mozilla/5.0 (iPod; U; CPU iPhone OS 4_1 like M...,"Strickland, Michael and Gonzales",180036417827355,02/17,754,Voyager,ustewart@hotmail.com,"Development worker, community",26.59.93.1,el,96.89
11,"349 Laurie Parks\nThomasview, ID 08970",30 kK,PM,Mozilla/5.0 (X11; Linux i686; rv:1.9.6.20) Gec...,Kim-Oliver,869975209012056,06/26,9717,JCB 15 digit,johnnymiller@coleman.com,Diagnostic radiographer,128.222.40.234,en,19.26
12,"733 Heather Rest Apt. 670\nBoltonport, UT 78662",69 DO,AM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_3 ...,Moore-Martin,5115990487067905,05/26,119,VISA 16 digit,tholt@hotmail.com,"Surveyor, quantity",236.71.234.240,en,39.65
13,"118 Melton Via Suite 681\nAlexanderbury, FL 32104",36 bu,PM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_8...,Keller PLC,4603635169938574,01/25,557,VISA 16 digit,caitlin57@yahoo.com,"Accountant, chartered public finance",84.212.92.11,it,8.93
14,"8774 Jason Keys Suite 427\nEast Scottborough, ...",70 zH,AM,Mozilla/5.0 (Windows 98; it-IT; rv:1.9.2.20) G...,"Leach, Howe and Ferguson",869967499275071,09/22,427,VISA 16 digit,aburns@yahoo.com,Acupuncturist,50.25.148.1,de,24.18
15,"31730 Chelsea Crest\nBlakemouth, CT 90395-0620",41 Cj,PM,Opera/8.95.(Windows NT 5.0; en-US) Presto/2.9....,Garcia-Steele,180069437020404,04/25,404,Diners Club / Carte Blanche,amanda39@yahoo.com,Retail manager,53.176.235.33,el,71.78
16,5283 Thomas Trafficway Suite 343\nEast Brittne...,31 ho,AM,Opera/9.73.(Windows NT 6.2; sl-SI) Presto/2.9....,"Stanton, Villanueva and Swanson",676121145525,06/22,285,Diners Club / Carte Blanche,griffincatherine@wilson.com,"Therapist, art",8.145.170.52,de,84.44
17,950 Jacqueline Village Apt. 592\nPort Kimberly...,23 Rh,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Fernandez, Melton and Gilbert",3337515540944084,01/26,771,American Express,stacymitchell@hall.com,"Designer, jewellery",223.25.125.61,el,58.68
18,"461 Christopher Square\nWest Michaelchester, C...",17 SB,PM,Mozilla/5.0 (X11; Linux i686; rv:1.9.6.20) Gec...,"Beard, Abbott and Pena",6011350184276270,12/22,767,Mastercard,hannah63@yahoo.com,Photographer,73.250.176.201,el,70.15
19,"125 Hall Summit\nBoothton, IL 41721",99 CU,PM,Mozilla/5.0 (compatible; MSIE 7.0; Windows NT ...,Turner-Mckinney,676343504830,02/20,440,VISA 16 digit,ruiznicole@gmail.com,"Designer, interior/spatial",25.105.209.214,fr,58.39
20,"7383 George Village\nLake Jamesview, CO 79828",23 dk,PM,Mozilla/5.0 (Windows; U; Windows NT 4.0) Apple...,"Santana, Montes and Pierce",6011833038852776,03/22,740,Maestro,zstephenson@smith.info,Public relations officer,250.71.54.180,de,30.33
21,"282 Miller Valleys Suite 404\nWilkinsonbury, M...",24 RZ,AM,Mozilla/5.0 (compatible; MSIE 6.0; Windows NT ...,Guzman-Reese,5491255326230898,03/25,506,JCB 16 digit,rsmith@hotmail.com,"Presenter, broadcasting",125.58.66.253,it,90.93
22,"625 Laura Summit Suite 112\nShortmouth, AK 97156",45 oa,PM,Mozilla/5.0 (Windows 95) AppleWebKit/5342 (KHT...,Burnett Ltd,3158663456056588,07/22,508,Discover,chambersmichael@gmail.com,Retail manager,65.106.61.141,en,33.62
23,"25292 Shepherd Trail Apt. 798\nRussellmouth, S...",31 pS,PM,Mozilla/5.0 (compatible; MSIE 5.0; Windows 98;...,Cruz Inc,502010078983,02/23,60,VISA 13 digit,ltaylor@gardner-meadows.com,Field seismologist,25.193.145.116,ru,97.97
24,Unit 3046 Box 3197\nDPO AE 61496-4172,62 Ac,AM,Mozilla/5.0 (compatible; MSIE 6.0; Windows CE;...,Morris PLC,4749728852401144,07/18,11,JCB 15 digit,james07@yahoo.com,Musician,21.113.231.220,es,85.31
25,"80797 Ryan Trail Apt. 752\nAaronhaven, MI 0622...",66 SO,PM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_7_1...,Saunders-Mendez,869938033091779,05/19,901,Voyager,madison41@mooney.com,Training and development officer,67.26.186.226,de,6.25
26,"5334 Sheppard Fort\nNorth Kirsten, ND 71170",40 ND,AM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_3)...,"Stephens, Johnson and Combs",60488441233,03/19,70,VISA 13 digit,mlogan@gmail.com,Barrister's clerk,61.197.134.185,en,17.75
27,"5015 Smith Harbors\nSouth Ashley, OK 81283",34 JQ,PM,Opera/9.75.(Windows NT 6.0; en-US) Presto/2.9....,"Levine, Shaw and Jenkins",869948145612941,12/16,310,Diners Club / Carte Blanche,michael35@hotmail.com,Careers adviser,177.220.131.93,es,39.40
28,"50533 Cooper Cliffs\nNorth Jonathanberg, MD 20482",17 kP,PM,Mozilla/5.0 (Windows; U; Windows NT 6.1) Apple...,Reed Inc,180026477662982,11/24,16,JCB 15 digit,khandeborah@yahoo.com,"Scientist, research (life sciences)",142.131.235.225,es,70.75
29,"30755 Joshua Plaza Apt. 567\nWest Susanton, FM...",93 OP,PM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_6_7...,Goodwin Ltd,4170734785397597,07/22,319,Maestro,stonekaren@yahoo.com,Recycling officer,218.189.145.248,it,82.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,"0060 Keith Stream\nWestport, CO 47097",11 nt,PM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_8...,"Carpenter, Good and Hart",6011485664704662,07/19,543,Discover,rangelbrian@hotmail.com,Electrical engineer,242.8.85.205,en,17.76
9971,"5806 Martinez Point\nLake Abigailstad, MD 6183...",07 wl,AM,Mozilla/5.0 (X11; Linux i686) AppleWebKit/5360...,Brewer-Howard,5359660631103048,01/21,586,Voyager,leslierichards@warner.org,"Therapist, art",81.2.189.127,de,65.06
9972,"89504 Flynn Overpass Suite 822\nNew Elijah, WV...",23 eL,AM,Mozilla/5.0 (Windows NT 5.1; en-US; rv:1.9.2.2...,"Davis, Wise and Diaz",370589883240776,04/22,748,VISA 13 digit,kellycole@hotmail.com,"Sales professional, IT",102.53.225.61,zh,18.10
9973,"92126 Daniel Streets\nNorth Patricia, IA 10477",04 QN,PM,Mozilla/5.0 (Windows NT 5.2) AppleWebKit/5362 ...,Morrow Inc,501850922854,02/19,2708,American Express,rlewis@yahoo.com,"Editor, magazine features",201.88.164.123,en,83.30
9974,"500 Powell Rapid Apt. 114\nClarkfort, FL 70488",48 is,AM,Mozilla/5.0 (Windows 95) AppleWebKit/5312 (KHT...,Griffin-Lopez,630407297302,04/26,627,VISA 16 digit,paula72@yahoo.com,Sports therapist,166.220.170.176,el,66.45
9975,5208 Hanson Trail Suite 527\nSouth Jonathanshi...,67 OX,PM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_7_8...,Bowen-Nelson,5361597780221625,01/19,225,JCB 16 digit,taylordiaz@roman.net,"Education officer, museum",114.197.6.210,zh,3.77
9976,"5419 Cruz Island Apt. 033\nLake Todd, AK 24863...",93 FM,PM,Opera/9.38.(Windows NT 5.01; it-IT) Presto/2.9...,Henderson-Kelley,4458996242274056,08/21,291,VISA 16 digit,pbrown@gmail.com,Furniture designer,109.108.177.2,es,37.73
9977,"02182 Keith Expressway\nEast Shannon, CT 20578...",34 RL,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Deleon, Jacobson and Benton",4186094003664688,06/21,397,JCB 16 digit,daltoncarter@yahoo.com,Biomedical engineer,146.238.118.2,fr,94.93
9978,"991 Watts Court\nSouth Danielstad, IA 39032-8865",66 eb,AM,Mozilla/5.0 (Macintosh; PPC Mac OS X 10_7_3; r...,Perez Group,3088185172584201,11/21,589,Discover,ywhite@hotmail.com,"Designer, exhibition/display",232.219.30.162,de,14.49
9979,"00490 Joseph Haven Apt. 149\nWest Keithfurt, S...",69 XK,PM,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/5311 ...,Randall-Ramirez,346734838013255,10/23,224,JCB 16 digit,qjohnson@yahoo.com,Lawyer,17.76.83.105,en,14.55
9980,"6061 Dave Lights\nPhillipsview, UT 40500",25 Mv,AM,Opera/8.58.(Windows NT 5.0; it-IT) Presto/2.9....,Cortez-Frye,6011944199756993,12/24,755,JCB 15 digit,mark74@kirby-stewart.org,Textile designer,110.103.77.195,fr,16.05
9981,"087 Larson Roads Apt. 587\nRicestad, WI 98077-...",95 Kw,AM,Opera/9.63.(Windows NT 5.01; en-US) Presto/2.9...,"Ortiz, Schultz and Adams",4690863684605,01/19,695,Mastercard,laurenbennett@richards.com,Environmental education officer,106.21.237.73,pt,63.61
9982,"18044 Mcintosh Row Apt. 122\nLake Jennifer, NC...",77 uq,PM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_6_0...,Chen LLC,210040992311995,09/18,79,JCB 16 digit,heather24@gmail.com,Restaurant manager,93.254.124.2,it,56.25
9983,"PSC 5678, Box 4503\nAPO AP 94998-5546",79 cd,AM,Mozilla/5.0 (compatible; MSIE 8.0; Windows NT ...,Hall-Cantu,343856674589081,04/23,206,JCB 16 digit,jacksonmanuel@rodriguez-welch.com,"Scientist, research (life sciences)",245.22.66.225,de,47.70
9984,"7560 Boyle Keys\nAntoniomouth, DC 00522-0367",72 Qb,AM,Mozilla/5.0 (Windows; U; Windows 98; Win 9x 4....,Johnson-Brandt,3088208142188125,03/21,572,Maestro,clee@vasquez-luna.com,"Editor, commissioning",140.157.37.218,el,33.57
9985,"7456 Stevens Rest\nEricside, FL 16389",27 Yv,PM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Murphy-Cook,6011264939622870,08/21,847,VISA 16 digit,cranejames@white.com,"Designer, interior/spatial",188.73.131.92,de,46.33
9986,"2719 Troy Drive Suite 062\nLisachester, PW 414...",80 Wl,PM,Mozilla/5.0 (Windows NT 5.2; sl-SI; rv:1.9.1.2...,Campbell-Hurley,4220882411745414,08/18,460,JCB 16 digit,belindaleon@schwartz.com,Cabin crew,110.103.102.55,it,22.02
9987,"2754 Klein Mission\nJohnsonview, PA 64925-9624",65 Fg,PM,Opera/9.26.(Windows CE; sl-SI) Presto/2.9.188 ...,Curtis LLC,180027305702263,12/24,865,Mastercard,denisehamilton@novak.biz,Primary school teacher,164.39.190.217,es,60.83
9988,"0154 Green Forest\nNew Timothy, IL 33670-4620",11 MC,AM,Mozilla/5.0 (compatible; MSIE 7.0; Windows 98;...,Williams-Walker,4207292109379681,10/16,571,Diners Club / Carte Blanche,hudsonmichael@pace.com,Charity fundraiser,136.169.160.82,de,89.76
9989,"5674 Cruz Trace\nNew Shelby, KY 51047-5469",12 Kf,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Vargas, Nichols and Martinez",5278049688438382,12/23,996,VISA 16 digit,walterswilliam@hotmail.com,Community development worker,39.162.164.169,pt,17.18
9990,"75731 Molly Springs\nWest Danielle, VT 96934-5102",93 ty,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_7_4;...,"Pace, Vazquez and Richards",869968197049750,04/24,877,JCB 15 digit,andersonmichael@sherman.biz,Early years teacher,54.170.3.185,ru,18.35
9991,"PSC 8165, Box 8498\nAPO AP 60327-0346",50 dA,AM,Mozilla/5.0 (compatible; MSIE 8.0; Windows NT ...,Snyder Inc,4221582137197481,02/24,969,Voyager,kking@wise-liu.com,IT sales professional,254.25.31.156,el,25.93
9992,"885 Allen Mountains Apt. 230\nWallhaven, LA 16995",40 vH,PM,Mozilla/5.0 (Macintosh; PPC Mac OS X 10_6_5) A...,Wells Ltd,4664825258997302,10/20,431,Discover,bberry@wright.net,Set designer,174.173.51.32,de,67.96
9993,"7555 Larson Locks Suite 229\nEllisburgh, MA 34...",72 jg,PM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_8...,Colon and Sons,30025560104631,10/25,629,Maestro,chelseawilliams@lopez.biz,"Designer, exhibition/display",177.46.82.128,el,65.61
9994,"6276 Rojas Hollow\nLake Louis, WY 56410-7837",93 Ex,PM,Opera/9.68.(X11; Linux x86_64; sl-SI) Presto/2...,Ritter-Smith,3112186784121077,01/25,1823,Maestro,iroberts@gmail.com,"Education officer, museum",242.44.112.18,zh,31.85
9995,"966 Castaneda Locks\nWest Juliafurt, CO 96415",92 XI,PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,Randall-Sloan,342945015358701,03/22,838,JCB 15 digit,iscott@wade-garner.com,Printmaker,29.73.197.114,it,82.21
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",210033169205009,07/25,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,25.63
9997,Unit 4434 Box 6343\nDPO AE 28026-0283,74 Zh,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Anderson Ltd,6011539787356311,05/21,1,VISA 16 digit,tyler16@gmail.com,Veterinary surgeon,156.210.0.254,el,83.98
9998,"0096 English Rest\nRoystad, IA 12457",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,180003348082930,11/17,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,es,38.84
9999,"40674 Barrett Stravenue\nGrimesville, WI 79682",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4139972901927273,02/19,302,JCB 15 digit,rachelford@vaughn.com,"Embryologist, clinical",176.119.198.199,el,67.59

In [30]:
data={'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],'Person':['Sam','Charlie','Amy','Venissa','Carl','Sarah'],'Sales':[200,120,340,124,243,350]}

In [31]:
df

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82
5,"7502 Powell Mission Apt. 768\nTravisland, VA 3...",21 XT,PM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_8_5...,Silva-Anderson,30246185196287,07/25,7169,Discover,ynguyen@gmail.com,Fish farm manager,55.96.152.147,ru,25.15
6,"93971 Conway Causeway\nAndersonburgh, AZ 75107",96 Xt,AM,Mozilla/5.0 (compatible; MSIE 7.0; Windows NT ...,Gibson and Sons,6011398782655569,07/24,714,VISA 16 digit,olivia04@yahoo.com,Dancer,127.252.144.18,de,88.56
7,"260 Rachel Plains Suite 366\nCastroberg, WV 24...",96 pG,PM,Mozilla/5.0 (X11; Linux i686) AppleWebKit/5350...,Marshall-Collins,561252141909,06/25,256,VISA 13 digit,phillip48@parks.info,Event organiser,224.247.97.150,pt,44.25
8,"2129 Dylan Burg\nNew Michelle, ME 28650",45 JN,PM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Galloway and Sons,180041795790001,04/24,899,JCB 16 digit,kdavis@rasmussen.com,Financial manager,146.234.201.229,ru,59.54
9,"3795 Dawson Extensions\nLake Tinafort, ID 88739",15 Ug,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.7.20) Gec...,"Rivera, Buchanan and Ramirez",4396283918371,01/17,931,American Express,qcoleman@hunt-huerta.com,Forensic scientist,236.198.199.8,zh,95.63
10,"650 Elizabeth Park\nLake Maria, LA 13526-2530",65 Yn,PM,Mozilla/5.0 (iPod; U; CPU iPhone OS 4_1 like M...,"Strickland, Michael and Gonzales",180036417827355,02/17,754,Voyager,ustewart@hotmail.com,"Development worker, community",26.59.93.1,el,96.89
11,"349 Laurie Parks\nThomasview, ID 08970",30 kK,PM,Mozilla/5.0 (X11; Linux i686; rv:1.9.6.20) Gec...,Kim-Oliver,869975209012056,06/26,9717,JCB 15 digit,johnnymiller@coleman.com,Diagnostic radiographer,128.222.40.234,en,19.26
12,"733 Heather Rest Apt. 670\nBoltonport, UT 78662",69 DO,AM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_3 ...,Moore-Martin,5115990487067905,05/26,119,VISA 16 digit,tholt@hotmail.com,"Surveyor, quantity",236.71.234.240,en,39.65
13,"118 Melton Via Suite 681\nAlexanderbury, FL 32104",36 bu,PM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_8...,Keller PLC,4603635169938574,01/25,557,VISA 16 digit,caitlin57@yahoo.com,"Accountant, chartered public finance",84.212.92.11,it,8.93
14,"8774 Jason Keys Suite 427\nEast Scottborough, ...",70 zH,AM,Mozilla/5.0 (Windows 98; it-IT; rv:1.9.2.20) G...,"Leach, Howe and Ferguson",869967499275071,09/22,427,VISA 16 digit,aburns@yahoo.com,Acupuncturist,50.25.148.1,de,24.18
15,"31730 Chelsea Crest\nBlakemouth, CT 90395-0620",41 Cj,PM,Opera/8.95.(Windows NT 5.0; en-US) Presto/2.9....,Garcia-Steele,180069437020404,04/25,404,Diners Club / Carte Blanche,amanda39@yahoo.com,Retail manager,53.176.235.33,el,71.78
16,5283 Thomas Trafficway Suite 343\nEast Brittne...,31 ho,AM,Opera/9.73.(Windows NT 6.2; sl-SI) Presto/2.9....,"Stanton, Villanueva and Swanson",676121145525,06/22,285,Diners Club / Carte Blanche,griffincatherine@wilson.com,"Therapist, art",8.145.170.52,de,84.44
17,950 Jacqueline Village Apt. 592\nPort Kimberly...,23 Rh,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Fernandez, Melton and Gilbert",3337515540944084,01/26,771,American Express,stacymitchell@hall.com,"Designer, jewellery",223.25.125.61,el,58.68
18,"461 Christopher Square\nWest Michaelchester, C...",17 SB,PM,Mozilla/5.0 (X11; Linux i686; rv:1.9.6.20) Gec...,"Beard, Abbott and Pena",6011350184276270,12/22,767,Mastercard,hannah63@yahoo.com,Photographer,73.250.176.201,el,70.15
19,"125 Hall Summit\nBoothton, IL 41721",99 CU,PM,Mozilla/5.0 (compatible; MSIE 7.0; Windows NT ...,Turner-Mckinney,676343504830,02/20,440,VISA 16 digit,ruiznicole@gmail.com,"Designer, interior/spatial",25.105.209.214,fr,58.39
20,"7383 George Village\nLake Jamesview, CO 79828",23 dk,PM,Mozilla/5.0 (Windows; U; Windows NT 4.0) Apple...,"Santana, Montes and Pierce",6011833038852776,03/22,740,Maestro,zstephenson@smith.info,Public relations officer,250.71.54.180,de,30.33
21,"282 Miller Valleys Suite 404\nWilkinsonbury, M...",24 RZ,AM,Mozilla/5.0 (compatible; MSIE 6.0; Windows NT ...,Guzman-Reese,5491255326230898,03/25,506,JCB 16 digit,rsmith@hotmail.com,"Presenter, broadcasting",125.58.66.253,it,90.93
22,"625 Laura Summit Suite 112\nShortmouth, AK 97156",45 oa,PM,Mozilla/5.0 (Windows 95) AppleWebKit/5342 (KHT...,Burnett Ltd,3158663456056588,07/22,508,Discover,chambersmichael@gmail.com,Retail manager,65.106.61.141,en,33.62
23,"25292 Shepherd Trail Apt. 798\nRussellmouth, S...",31 pS,PM,Mozilla/5.0 (compatible; MSIE 5.0; Windows 98;...,Cruz Inc,502010078983,02/23,60,VISA 13 digit,ltaylor@gardner-meadows.com,Field seismologist,25.193.145.116,ru,97.97
24,Unit 3046 Box 3197\nDPO AE 61496-4172,62 Ac,AM,Mozilla/5.0 (compatible; MSIE 6.0; Windows CE;...,Morris PLC,4749728852401144,07/18,11,JCB 15 digit,james07@yahoo.com,Musician,21.113.231.220,es,85.31
25,"80797 Ryan Trail Apt. 752\nAaronhaven, MI 0622...",66 SO,PM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_7_1...,Saunders-Mendez,869938033091779,05/19,901,Voyager,madison41@mooney.com,Training and development officer,67.26.186.226,de,6.25
26,"5334 Sheppard Fort\nNorth Kirsten, ND 71170",40 ND,AM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_3)...,"Stephens, Johnson and Combs",60488441233,03/19,70,VISA 13 digit,mlogan@gmail.com,Barrister's clerk,61.197.134.185,en,17.75
27,"5015 Smith Harbors\nSouth Ashley, OK 81283",34 JQ,PM,Opera/9.75.(Windows NT 6.0; en-US) Presto/2.9....,"Levine, Shaw and Jenkins",869948145612941,12/16,310,Diners Club / Carte Blanche,michael35@hotmail.com,Careers adviser,177.220.131.93,es,39.40
28,"50533 Cooper Cliffs\nNorth Jonathanberg, MD 20482",17 kP,PM,Mozilla/5.0 (Windows; U; Windows NT 6.1) Apple...,Reed Inc,180026477662982,11/24,16,JCB 15 digit,khandeborah@yahoo.com,"Scientist, research (life sciences)",142.131.235.225,es,70.75
29,"30755 Joshua Plaza Apt. 567\nWest Susanton, FM...",93 OP,PM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_6_7...,Goodwin Ltd,4170734785397597,07/22,319,Maestro,stonekaren@yahoo.com,Recycling officer,218.189.145.248,it,82.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,"0060 Keith Stream\nWestport, CO 47097",11 nt,PM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_8...,"Carpenter, Good and Hart",6011485664704662,07/19,543,Discover,rangelbrian@hotmail.com,Electrical engineer,242.8.85.205,en,17.76
9971,"5806 Martinez Point\nLake Abigailstad, MD 6183...",07 wl,AM,Mozilla/5.0 (X11; Linux i686) AppleWebKit/5360...,Brewer-Howard,5359660631103048,01/21,586,Voyager,leslierichards@warner.org,"Therapist, art",81.2.189.127,de,65.06
9972,"89504 Flynn Overpass Suite 822\nNew Elijah, WV...",23 eL,AM,Mozilla/5.0 (Windows NT 5.1; en-US; rv:1.9.2.2...,"Davis, Wise and Diaz",370589883240776,04/22,748,VISA 13 digit,kellycole@hotmail.com,"Sales professional, IT",102.53.225.61,zh,18.10
9973,"92126 Daniel Streets\nNorth Patricia, IA 10477",04 QN,PM,Mozilla/5.0 (Windows NT 5.2) AppleWebKit/5362 ...,Morrow Inc,501850922854,02/19,2708,American Express,rlewis@yahoo.com,"Editor, magazine features",201.88.164.123,en,83.30
9974,"500 Powell Rapid Apt. 114\nClarkfort, FL 70488",48 is,AM,Mozilla/5.0 (Windows 95) AppleWebKit/5312 (KHT...,Griffin-Lopez,630407297302,04/26,627,VISA 16 digit,paula72@yahoo.com,Sports therapist,166.220.170.176,el,66.45
9975,5208 Hanson Trail Suite 527\nSouth Jonathanshi...,67 OX,PM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_7_8...,Bowen-Nelson,5361597780221625,01/19,225,JCB 16 digit,taylordiaz@roman.net,"Education officer, museum",114.197.6.210,zh,3.77
9976,"5419 Cruz Island Apt. 033\nLake Todd, AK 24863...",93 FM,PM,Opera/9.38.(Windows NT 5.01; it-IT) Presto/2.9...,Henderson-Kelley,4458996242274056,08/21,291,VISA 16 digit,pbrown@gmail.com,Furniture designer,109.108.177.2,es,37.73
9977,"02182 Keith Expressway\nEast Shannon, CT 20578...",34 RL,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Deleon, Jacobson and Benton",4186094003664688,06/21,397,JCB 16 digit,daltoncarter@yahoo.com,Biomedical engineer,146.238.118.2,fr,94.93
9978,"991 Watts Court\nSouth Danielstad, IA 39032-8865",66 eb,AM,Mozilla/5.0 (Macintosh; PPC Mac OS X 10_7_3; r...,Perez Group,3088185172584201,11/21,589,Discover,ywhite@hotmail.com,"Designer, exhibition/display",232.219.30.162,de,14.49
9979,"00490 Joseph Haven Apt. 149\nWest Keithfurt, S...",69 XK,PM,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/5311 ...,Randall-Ramirez,346734838013255,10/23,224,JCB 16 digit,qjohnson@yahoo.com,Lawyer,17.76.83.105,en,14.55
9980,"6061 Dave Lights\nPhillipsview, UT 40500",25 Mv,AM,Opera/8.58.(Windows NT 5.0; it-IT) Presto/2.9....,Cortez-Frye,6011944199756993,12/24,755,JCB 15 digit,mark74@kirby-stewart.org,Textile designer,110.103.77.195,fr,16.05
9981,"087 Larson Roads Apt. 587\nRicestad, WI 98077-...",95 Kw,AM,Opera/9.63.(Windows NT 5.01; en-US) Presto/2.9...,"Ortiz, Schultz and Adams",4690863684605,01/19,695,Mastercard,laurenbennett@richards.com,Environmental education officer,106.21.237.73,pt,63.61
9982,"18044 Mcintosh Row Apt. 122\nLake Jennifer, NC...",77 uq,PM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_6_0...,Chen LLC,210040992311995,09/18,79,JCB 16 digit,heather24@gmail.com,Restaurant manager,93.254.124.2,it,56.25
9983,"PSC 5678, Box 4503\nAPO AP 94998-5546",79 cd,AM,Mozilla/5.0 (compatible; MSIE 8.0; Windows NT ...,Hall-Cantu,343856674589081,04/23,206,JCB 16 digit,jacksonmanuel@rodriguez-welch.com,"Scientist, research (life sciences)",245.22.66.225,de,47.70
9984,"7560 Boyle Keys\nAntoniomouth, DC 00522-0367",72 Qb,AM,Mozilla/5.0 (Windows; U; Windows 98; Win 9x 4....,Johnson-Brandt,3088208142188125,03/21,572,Maestro,clee@vasquez-luna.com,"Editor, commissioning",140.157.37.218,el,33.57
9985,"7456 Stevens Rest\nEricside, FL 16389",27 Yv,PM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Murphy-Cook,6011264939622870,08/21,847,VISA 16 digit,cranejames@white.com,"Designer, interior/spatial",188.73.131.92,de,46.33
9986,"2719 Troy Drive Suite 062\nLisachester, PW 414...",80 Wl,PM,Mozilla/5.0 (Windows NT 5.2; sl-SI; rv:1.9.1.2...,Campbell-Hurley,4220882411745414,08/18,460,JCB 16 digit,belindaleon@schwartz.com,Cabin crew,110.103.102.55,it,22.02
9987,"2754 Klein Mission\nJohnsonview, PA 64925-9624",65 Fg,PM,Opera/9.26.(Windows CE; sl-SI) Presto/2.9.188 ...,Curtis LLC,180027305702263,12/24,865,Mastercard,denisehamilton@novak.biz,Primary school teacher,164.39.190.217,es,60.83
9988,"0154 Green Forest\nNew Timothy, IL 33670-4620",11 MC,AM,Mozilla/5.0 (compatible; MSIE 7.0; Windows 98;...,Williams-Walker,4207292109379681,10/16,571,Diners Club / Carte Blanche,hudsonmichael@pace.com,Charity fundraiser,136.169.160.82,de,89.76
9989,"5674 Cruz Trace\nNew Shelby, KY 51047-5469",12 Kf,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Vargas, Nichols and Martinez",5278049688438382,12/23,996,VISA 16 digit,walterswilliam@hotmail.com,Community development worker,39.162.164.169,pt,17.18
9990,"75731 Molly Springs\nWest Danielle, VT 96934-5102",93 ty,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_7_4;...,"Pace, Vazquez and Richards",869968197049750,04/24,877,JCB 15 digit,andersonmichael@sherman.biz,Early years teacher,54.170.3.185,ru,18.35
9991,"PSC 8165, Box 8498\nAPO AP 60327-0346",50 dA,AM,Mozilla/5.0 (compatible; MSIE 8.0; Windows NT ...,Snyder Inc,4221582137197481,02/24,969,Voyager,kking@wise-liu.com,IT sales professional,254.25.31.156,el,25.93
9992,"885 Allen Mountains Apt. 230\nWallhaven, LA 16995",40 vH,PM,Mozilla/5.0 (Macintosh; PPC Mac OS X 10_6_5) A...,Wells Ltd,4664825258997302,10/20,431,Discover,bberry@wright.net,Set designer,174.173.51.32,de,67.96
9993,"7555 Larson Locks Suite 229\nEllisburgh, MA 34...",72 jg,PM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_8...,Colon and Sons,30025560104631,10/25,629,Maestro,chelseawilliams@lopez.biz,"Designer, exhibition/display",177.46.82.128,el,65.61
9994,"6276 Rojas Hollow\nLake Louis, WY 56410-7837",93 Ex,PM,Opera/9.68.(X11; Linux x86_64; sl-SI) Presto/2...,Ritter-Smith,3112186784121077,01/25,1823,Maestro,iroberts@gmail.com,"Education officer, museum",242.44.112.18,zh,31.85
9995,"966 Castaneda Locks\nWest Juliafurt, CO 96415",92 XI,PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,Randall-Sloan,342945015358701,03/22,838,JCB 15 digit,iscott@wade-garner.com,Printmaker,29.73.197.114,it,82.21
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",210033169205009,07/25,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,25.63
9997,Unit 4434 Box 6343\nDPO AE 28026-0283,74 Zh,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Anderson Ltd,6011539787356311,05/21,1,VISA 16 digit,tyler16@gmail.com,Veterinary surgeon,156.210.0.254,el,83.98
9998,"0096 English Rest\nRoystad, IA 12457",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,180003348082930,11/17,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,es,38.84
9999,"40674 Barrett Stravenue\nGrimesville, WI 79682",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4139972901927273,02/19,302,JCB 15 digit,rachelford@vaughn.com,"Embryologist, clinical",176.119.198.199,el,67.59

In [32]:
df=pd.DataFrame(data)

In [33]:
df

  Company   Person  Sales
0    GOOG      Sam    200
1    GOOG  Charlie    120
2    MSFT      Amy    340
3    MSFT  Venissa    124
4      FB     Carl    243
5      FB    Sarah    350

In [34]:
df.groupby('Company')

In [42]:
by_comp=df.groupby('Company')

In [43]:
by_comp.mean()

         Sales
Company
FB       296.5
GOOG     160.0
MSFT     232.0

In [44]:
by_comp.min()

          Person  Sales
Company
FB          Carl    243
GOOG     Charlie    120
MSFT         Amy    124

In [38]:
by_comp.std()

              Sales
Company
FB        75.660426
GOOG      56.568542
MSFT     152.735065

In [45]:
by_comp.count()

         Person  Sales
Company
FB            2      2
GOOG          2      2
MSFT          2      2

In [46]:
by_comp.describe()

        Sales
        count   mean         std    min     25%    50%     75%    max
Company
FB        2.0  296.5   75.660426  243.0  269.75  296.5  323.25  350.0
GOOG      2.0  160.0   56.568542  120.0  140.00  160.0  180.00  200.0
MSFT      2.0  232.0  152.735065  124.0  178.00  232.0  286.00  340.0

In [47]:
by_comp.describe().transpose()['GOOG']

Sales  count      2.000000
       mean     160.000000
       std       56.568542
       min      120.000000
       25%      140.000000
       50%      160.000000
       75%      180.000000
       max      200.000000
Name: GOOG, dtype: float64

#whts is average prise
#what were the hieghest and lowest purchase prise
#3how many people have english as an language chice
#4how may people have a tuitle of loyer
#how many people     an ordering in AM and how many at PM
#what are top 5 worst common job title

In [48]:
df=pd.read_csv('Ecommerce Purchases')
df

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82
5,"7502 Powell Mission Apt. 768\nTravisland, VA 3...",21 XT,PM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_8_5...,Silva-Anderson,30246185196287,07/25,7169,Discover,ynguyen@gmail.com,Fish farm manager,55.96.152.147,ru,25.15
6,"93971 Conway Causeway\nAndersonburgh, AZ 75107",96 Xt,AM,Mozilla/5.0 (compatible; MSIE 7.0; Windows NT ...,Gibson and Sons,6011398782655569,07/24,714,VISA 16 digit,olivia04@yahoo.com,Dancer,127.252.144.18,de,88.56
7,"260 Rachel Plains Suite 366\nCastroberg, WV 24...",96 pG,PM,Mozilla/5.0 (X11; Linux i686) AppleWebKit/5350...,Marshall-Collins,561252141909,06/25,256,VISA 13 digit,phillip48@parks.info,Event organiser,224.247.97.150,pt,44.25
8,"2129 Dylan Burg\nNew Michelle, ME 28650",45 JN,PM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Galloway and Sons,180041795790001,04/24,899,JCB 16 digit,kdavis@rasmussen.com,Financial manager,146.234.201.229,ru,59.54
9,"3795 Dawson Extensions\nLake Tinafort, ID 88739",15 Ug,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.7.20) Gec...,"Rivera, Buchanan and Ramirez",4396283918371,01/17,931,American Express,qcoleman@hunt-huerta.com,Forensic scientist,236.198.199.8,zh,95.63
10,"650 Elizabeth Park\nLake Maria, LA 13526-2530",65 Yn,PM,Mozilla/5.0 (iPod; U; CPU iPhone OS 4_1 like M...,"Strickland, Michael and Gonzales",180036417827355,02/17,754,Voyager,ustewart@hotmail.com,"Development worker, community",26.59.93.1,el,96.89
11,"349 Laurie Parks\nThomasview, ID 08970",30 kK,PM,Mozilla/5.0 (X11; Linux i686; rv:1.9.6.20) Gec...,Kim-Oliver,869975209012056,06/26,9717,JCB 15 digit,johnnymiller@coleman.com,Diagnostic radiographer,128.222.40.234,en,19.26
12,"733 Heather Rest Apt. 670\nBoltonport, UT 78662",69 DO,AM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_3 ...,Moore-Martin,5115990487067905,05/26,119,VISA 16 digit,tholt@hotmail.com,"Surveyor, quantity",236.71.234.240,en,39.65
13,"118 Melton Via Suite 681\nAlexanderbury, FL 32104",36 bu,PM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_8...,Keller PLC,4603635169938574,01/25,557,VISA 16 digit,caitlin57@yahoo.com,"Accountant, chartered public finance",84.212.92.11,it,8.93
14,"8774 Jason Keys Suite 427\nEast Scottborough, ...",70 zH,AM,Mozilla/5.0 (Windows 98; it-IT; rv:1.9.2.20) G...,"Leach, Howe and Ferguson",869967499275071,09/22,427,VISA 16 digit,aburns@yahoo.com,Acupuncturist,50.25.148.1,de,24.18
15,"31730 Chelsea Crest\nBlakemouth, CT 90395-0620",41 Cj,PM,Opera/8.95.(Windows NT 5.0; en-US) Presto/2.9....,Garcia-Steele,180069437020404,04/25,404,Diners Club / Carte Blanche,amanda39@yahoo.com,Retail manager,53.176.235.33,el,71.78
16,5283 Thomas Trafficway Suite 343\nEast Brittne...,31 ho,AM,Opera/9.73.(Windows NT 6.2; sl-SI) Presto/2.9....,"Stanton, Villanueva and Swanson",676121145525,06/22,285,Diners Club / Carte Blanche,griffincatherine@wilson.com,"Therapist, art",8.145.170.52,de,84.44
17,950 Jacqueline Village Apt. 592\nPort Kimberly...,23 Rh,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Fernandez, Melton and Gilbert",3337515540944084,01/26,771,American Express,stacymitchell@hall.com,"Designer, jewellery",223.25.125.61,el,58.68
18,"461 Christopher Square\nWest Michaelchester, C...",17 SB,PM,Mozilla/5.0 (X11; Linux i686; rv:1.9.6.20) Gec...,"Beard, Abbott and Pena",6011350184276270,12/22,767,Mastercard,hannah63@yahoo.com,Photographer,73.250.176.201,el,70.15
19,"125 Hall Summit\nBoothton, IL 41721",99 CU,PM,Mozilla/5.0 (compatible; MSIE 7.0; Windows NT ...,Turner-Mckinney,676343504830,02/20,440,VISA 16 digit,ruiznicole@gmail.com,"Designer, interior/spatial",25.105.209.214,fr,58.39
20,"7383 George Village\nLake Jamesview, CO 79828",23 dk,PM,Mozilla/5.0 (Windows; U; Windows NT 4.0) Apple...,"Santana, Montes and Pierce",6011833038852776,03/22,740,Maestro,zstephenson@smith.info,Public relations officer,250.71.54.180,de,30.33
21,"282 Miller Valleys Suite 404\nWilkinsonbury, M...",24 RZ,AM,Mozilla/5.0 (compatible; MSIE 6.0; Windows NT ...,Guzman-Reese,5491255326230898,03/25,506,JCB 16 digit,rsmith@hotmail.com,"Presenter, broadcasting",125.58.66.253,it,90.93
22,"625 Laura Summit Suite 112\nShortmouth, AK 97156",45 oa,PM,Mozilla/5.0 (Windows 95) AppleWebKit/5342 (KHT...,Burnett Ltd,3158663456056588,07/22,508,Discover,chambersmichael@gmail.com,Retail manager,65.106.61.141,en,33.62
23,"25292 Shepherd Trail Apt. 798\nRussellmouth, S...",31 pS,PM,Mozilla/5.0 (compatible; MSIE 5.0; Windows 98;...,Cruz Inc,502010078983,02/23,60,VISA 13 digit,ltaylor@gardner-meadows.com,Field seismologist,25.193.145.116,ru,97.97
24,Unit 3046 Box 3197\nDPO AE 61496-4172,62 Ac,AM,Mozilla/5.0 (compatible; MSIE 6.0; Windows CE;...,Morris PLC,4749728852401144,07/18,11,JCB 15 digit,james07@yahoo.com,Musician,21.113.231.220,es,85.31
25,"80797 Ryan Trail Apt. 752\nAaronhaven, MI 0622...",66 SO,PM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_7_1...,Saunders-Mendez,869938033091779,05/19,901,Voyager,madison41@mooney.com,Training and development officer,67.26.186.226,de,6.25
26,"5334 Sheppard Fort\nNorth Kirsten, ND 71170",40 ND,AM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_3)...,"Stephens, Johnson and Combs",60488441233,03/19,70,VISA 13 digit,mlogan@gmail.com,Barrister's clerk,61.197.134.185,en,17.75
27,"5015 Smith Harbors\nSouth Ashley, OK 81283",34 JQ,PM,Opera/9.75.(Windows NT 6.0; en-US) Presto/2.9....,"Levine, Shaw and Jenkins",869948145612941,12/16,310,Diners Club / Carte Blanche,michael35@hotmail.com,Careers adviser,177.220.131.93,es,39.40
28,"50533 Cooper Cliffs\nNorth Jonathanberg, MD 20482",17 kP,PM,Mozilla/5.0 (Windows; U; Windows NT 6.1) Apple...,Reed Inc,180026477662982,11/24,16,JCB 15 digit,khandeborah@yahoo.com,"Scientist, research (life sciences)",142.131.235.225,es,70.75
29,"30755 Joshua Plaza Apt. 567\nWest Susanton, FM...",93 OP,PM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_6_7...,Goodwin Ltd,4170734785397597,07/22,319,Maestro,stonekaren@yahoo.com,Recycling officer,218.189.145.248,it,82.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,"0060 Keith Stream\nWestport, CO 47097",11 nt,PM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_8...,"Carpenter, Good and Hart",6011485664704662,07/19,543,Discover,rangelbrian@hotmail.com,Electrical engineer,242.8.85.205,en,17.76
9971,"5806 Martinez Point\nLake Abigailstad, MD 6183...",07 wl,AM,Mozilla/5.0 (X11; Linux i686) AppleWebKit/5360...,Brewer-Howard,5359660631103048,01/21,586,Voyager,leslierichards@warner.org,"Therapist, art",81.2.189.127,de,65.06
9972,"89504 Flynn Overpass Suite 822\nNew Elijah, WV...",23 eL,AM,Mozilla/5.0 (Windows NT 5.1; en-US; rv:1.9.2.2...,"Davis, Wise and Diaz",370589883240776,04/22,748,VISA 13 digit,kellycole@hotmail.com,"Sales professional, IT",102.53.225.61,zh,18.10
9973,"92126 Daniel Streets\nNorth Patricia, IA 10477",04 QN,PM,Mozilla/5.0 (Windows NT 5.2) AppleWebKit/5362 ...,Morrow Inc,501850922854,02/19,2708,American Express,rlewis@yahoo.com,"Editor, magazine features",201.88.164.123,en,83.30
9974,"500 Powell Rapid Apt. 114\nClarkfort, FL 70488",48 is,AM,Mozilla/5.0 (Windows 95) AppleWebKit/5312 (KHT...,Griffin-Lopez,630407297302,04/26,627,VISA 16 digit,paula72@yahoo.com,Sports therapist,166.220.170.176,el,66.45
9975,5208 Hanson Trail Suite 527\nSouth Jonathanshi...,67 OX,PM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_7_8...,Bowen-Nelson,5361597780221625,01/19,225,JCB 16 digit,taylordiaz@roman.net,"Education officer, museum",114.197.6.210,zh,3.77
9976,"5419 Cruz Island Apt. 033\nLake Todd, AK 24863...",93 FM,PM,Opera/9.38.(Windows NT 5.01; it-IT) Presto/2.9...,Henderson-Kelley,4458996242274056,08/21,291,VISA 16 digit,pbrown@gmail.com,Furniture designer,109.108.177.2,es,37.73
9977,"02182 Keith Expressway\nEast Shannon, CT 20578...",34 RL,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Deleon, Jacobson and Benton",4186094003664688,06/21,397,JCB 16 digit,daltoncarter@yahoo.com,Biomedical engineer,146.238.118.2,fr,94.93
9978,"991 Watts Court\nSouth Danielstad, IA 39032-8865",66 eb,AM,Mozilla/5.0 (Macintosh; PPC Mac OS X 10_7_3; r...,Perez Group,3088185172584201,11/21,589,Discover,ywhite@hotmail.com,"Designer, exhibition/display",232.219.30.162,de,14.49
9979,"00490 Joseph Haven Apt. 149\nWest Keithfurt, S...",69 XK,PM,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/5311 ...,Randall-Ramirez,346734838013255,10/23,224,JCB 16 digit,qjohnson@yahoo.com,Lawyer,17.76.83.105,en,14.55
9980,"6061 Dave Lights\nPhillipsview, UT 40500",25 Mv,AM,Opera/8.58.(Windows NT 5.0; it-IT) Presto/2.9....,Cortez-Frye,6011944199756993,12/24,755,JCB 15 digit,mark74@kirby-stewart.org,Textile designer,110.103.77.195,fr,16.05
9981,"087 Larson Roads Apt. 587\nRicestad, WI 98077-...",95 Kw,AM,Opera/9.63.(Windows NT 5.01; en-US) Presto/2.9...,"Ortiz, Schultz and Adams",4690863684605,01/19,695,Mastercard,laurenbennett@richards.com,Environmental education officer,106.21.237.73,pt,63.61
9982,"18044 Mcintosh Row Apt. 122\nLake Jennifer, NC...",77 uq,PM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_6_0...,Chen LLC,210040992311995,09/18,79,JCB 16 digit,heather24@gmail.com,Restaurant manager,93.254.124.2,it,56.25
9983,"PSC 5678, Box 4503\nAPO AP 94998-5546",79 cd,AM,Mozilla/5.0 (compatible; MSIE 8.0; Windows NT ...,Hall-Cantu,343856674589081,04/23,206,JCB 16 digit,jacksonmanuel@rodriguez-welch.com,"Scientist, research (life sciences)",245.22.66.225,de,47.70
9984,"7560 Boyle Keys\nAntoniomouth, DC 00522-0367",72 Qb,AM,Mozilla/5.0 (Windows; U; Windows 98; Win 9x 4....,Johnson-Brandt,3088208142188125,03/21,572,Maestro,clee@vasquez-luna.com,"Editor, commissioning",140.157.37.218,el,33.57
9985,"7456 Stevens Rest\nEricside, FL 16389",27 Yv,PM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Murphy-Cook,6011264939622870,08/21,847,VISA 16 digit,cranejames@white.com,"Designer, interior/spatial",188.73.131.92,de,46.33
9986,"2719 Troy Drive Suite 062\nLisachester, PW 414...",80 Wl,PM,Mozilla/5.0 (Windows NT 5.2; sl-SI; rv:1.9.1.2...,Campbell-Hurley,4220882411745414,08/18,460,JCB 16 digit,belindaleon@schwartz.com,Cabin crew,110.103.102.55,it,22.02
9987,"2754 Klein Mission\nJohnsonview, PA 64925-9624",65 Fg,PM,Opera/9.26.(Windows CE; sl-SI) Presto/2.9.188 ...,Curtis LLC,180027305702263,12/24,865,Mastercard,denisehamilton@novak.biz,Primary school teacher,164.39.190.217,es,60.83
9988,"0154 Green Forest\nNew Timothy, IL 33670-4620",11 MC,AM,Mozilla/5.0 (compatible; MSIE 7.0; Windows 98;...,Williams-Walker,4207292109379681,10/16,571,Diners Club / Carte Blanche,hudsonmichael@pace.com,Charity fundraiser,136.169.160.82,de,89.76
9989,"5674 Cruz Trace\nNew Shelby, KY 51047-5469",12 Kf,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Vargas, Nichols and Martinez",5278049688438382,12/23,996,VISA 16 digit,walterswilliam@hotmail.com,Community development worker,39.162.164.169,pt,17.18
9990,"75731 Molly Springs\nWest Danielle, VT 96934-5102",93 ty,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_7_4;...,"Pace, Vazquez and Richards",869968197049750,04/24,877,JCB 15 digit,andersonmichael@sherman.biz,Early years teacher,54.170.3.185,ru,18.35
9991,"PSC 8165, Box 8498\nAPO AP 60327-0346",50 dA,AM,Mozilla/5.0 (compatible; MSIE 8.0; Windows NT ...,Snyder Inc,4221582137197481,02/24,969,Voyager,kking@wise-liu.com,IT sales professional,254.25.31.156,el,25.93
9992,"885 Allen Mountains Apt. 230\nWallhaven, LA 16995",40 vH,PM,Mozilla/5.0 (Macintosh; PPC Mac OS X 10_6_5) A...,Wells Ltd,4664825258997302,10/20,431,Discover,bberry@wright.net,Set designer,174.173.51.32,de,67.96
9993,"7555 Larson Locks Suite 229\nEllisburgh, MA 34...",72 jg,PM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_8...,Colon and Sons,30025560104631,10/25,629,Maestro,chelseawilliams@lopez.biz,"Designer, exhibition/display",177.46.82.128,el,65.61
9994,"6276 Rojas Hollow\nLake Louis, WY 56410-7837",93 Ex,PM,Opera/9.68.(X11; Linux x86_64; sl-SI) Presto/2...,Ritter-Smith,3112186784121077,01/25,1823,Maestro,iroberts@gmail.com,"Education officer, museum",242.44.112.18,zh,31.85
9995,"966 Castaneda Locks\nWest Juliafurt, CO 96415",92 XI,PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,Randall-Sloan,342945015358701,03/22,838,JCB 15 digit,iscott@wade-garner.com,Printmaker,29.73.197.114,it,82.21
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",210033169205009,07/25,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,25.63
9997,Unit 4434 Box 6343\nDPO AE 28026-0283,74 Zh,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Anderson Ltd,6011539787356311,05/21,1,VISA 16 digit,tyler16@gmail.com,Veterinary surgeon,156.210.0.254,el,83.98
9998,"0096 English Rest\nRoystad, IA 12457",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,180003348082930,11/17,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,es,38.84
9999,"40674 Barrett Stravenue\nGrimesville, WI 79682",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4139972901927273,02/19,302,JCB 15 digit,rachelford@vaughn.com,"Embryologist, clinical",176.119.198.199,el,67.59

df.describe()

### average price

In [55]:
df.describe()

        Credit Card  CC Security Code  Purchase Price
count  1.000000e+04      10000.000000    10000.000000
mean   2.341374e+15        907.217800       50.347302
std    2.256103e+15       1589.693035       29.015836
min    6.040186e+10          0.000000        0.000000
25%    3.056322e+13        280.000000       25.150000
50%    8.699942e+14        548.000000       50.505000
75%    4.492298e+15        816.000000       75.770000
max    6.012000e+15       9993.000000       99.990000

In [51]:
df.mean()

Credit Card         2.341374e+15
CC Security Code    9.072178e+02
Purchase Price      5.034730e+01
dtype: float64

In [54]:
df['Purchase Price'].mean()

50.34730200000025

### wht is heighest and lowest price

In [60]:
min1=df['Purchase Price'].min()
max1=df['Purchase Price'].max()
print(min1)
print(max1)

0.0
99.99

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
Address             10000 non-null object
Lot                 10000 non-null object
AM or PM            10000 non-null object
Browser Info        10000 non-null object
Company             10000 non-null object
Credit Card         10000 non-null int64
CC Exp Date         10000 non-null object
CC Security Code    10000 non-null int64
CC Provider         10000 non-null object
Email               10000 non-null object
Job                 10000 non-null object
IP Address          10000 non-null object
Language            10000 non-null object
Purchase Price      10000 non-null float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

### language english

In [66]:
df[df['Language']=='en'].count()

Address             1098
Lot                 1098
AM or PM            1098
Browser Info        1098
Company             1098
Credit Card         1098
CC Exp Date         1098
CC Security Code    1098
CC Provider         1098
Email               1098
Job                 1098
IP Address          1098
Language            1098
Purchase Price      1098
dtype: int64

In [71]:
df[df['Job']=='Lawyer'].count()

Address             30
Lot                 30
AM or PM            30
Browser Info        30
Company             30
Credit Card         30
CC Exp Date         30
CC Security Code    30
CC Provider         30
Email               30
Job                 30
IP Address          30
Language            30
Purchase Price      30
dtype: int64

### AM OR PM

In [75]:
df['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

In [84]:
df['Job'].value_counts().head((5))

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: Job, dtype: int64

In [90]:
sum(df['CC Exp Date'].apply(lambda x:x[3:])=='25')

1033

In [92]:
df['Email'].apply(lambda x:x.split('@')[1]).value_counts()

hotmail.com             1638
yahoo.com               1616
gmail.com               1605
smith.com                 42
williams.com              37
johnson.com               29
brown.com                 29
jones.com                 25
davis.com                 25
martinez.com              19
white.com                 15
martin.com                15
thompson.com              14
rodriguez.com             14
jackson.com               14
miller.com                14
thomas.com                14
garcia.com                14
hill.com                  13
taylor.com                12
harris.com                12
wilson.com                11
moore.com                 11
walker.com                11
hernandez.com             10
nelson.com                10
anderson.com              10
long.com                  10
lee.com                   10
roberts.com               10
                        ...
price-price.com            1
martin-rice.net            1
finley-ruiz.net            1
schroeder-lawson.org       1
carter-adams.biz           1
coffey-ross.biz            1
levine.info                1
taylor-mercado.com         1
clark-phillips.net         1
cox-cole.com               1
mccall.net                 1
maxwell.com                1
floyd-nelson.com           1
winters.info               1
nixon-james.com            1
calhoun.biz                1
wilson-hart.org            1
green-fields.net           1
ruiz.org                   1
garrison-woodard.com       1
smith-rivera.org           1
morris-martin.com          1
hall-harris.biz            1
young-jimenez.com          1
moreno-marshall.com        1
orozco.com                 1
zavala.com                 1
chavez.info                1
wyatt-williams.com         1
vincent-flynn.com          1
Name: Email, Length: 3416, dtype: int64

df[df>30]

In [93]:
df[df>30]

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900.0,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561.0,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699.0,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,NaN
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384.0,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678.0,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82
5,"7502 Powell Mission Apt. 768\nTravisland, VA 3...",21 XT,PM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_8_5...,Silva-Anderson,30246185196287,07/25,7169.0,Discover,ynguyen@gmail.com,Fish farm manager,55.96.152.147,ru,NaN
6,"93971 Conway Causeway\nAndersonburgh, AZ 75107",96 Xt,AM,Mozilla/5.0 (compatible; MSIE 7.0; Windows NT ...,Gibson and Sons,6011398782655569,07/24,714.0,VISA 16 digit,olivia04@yahoo.com,Dancer,127.252.144.18,de,88.56
7,"260 Rachel Plains Suite 366\nCastroberg, WV 24...",96 pG,PM,Mozilla/5.0 (X11; Linux i686) AppleWebKit/5350...,Marshall-Collins,561252141909,06/25,256.0,VISA 13 digit,phillip48@parks.info,Event organiser,224.247.97.150,pt,44.25
8,"2129 Dylan Burg\nNew Michelle, ME 28650",45 JN,PM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Galloway and Sons,180041795790001,04/24,899.0,JCB 16 digit,kdavis@rasmussen.com,Financial manager,146.234.201.229,ru,59.54
9,"3795 Dawson Extensions\nLake Tinafort, ID 88739",15 Ug,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.7.20) Gec...,"Rivera, Buchanan and Ramirez",4396283918371,01/17,931.0,American Express,qcoleman@hunt-huerta.com,Forensic scientist,236.198.199.8,zh,95.63
10,"650 Elizabeth Park\nLake Maria, LA 13526-2530",65 Yn,PM,Mozilla/5.0 (iPod; U; CPU iPhone OS 4_1 like M...,"Strickland, Michael and Gonzales",180036417827355,02/17,754.0,Voyager,ustewart@hotmail.com,"Development worker, community",26.59.93.1,el,96.89
11,"349 Laurie Parks\nThomasview, ID 08970",30 kK,PM,Mozilla/5.0 (X11; Linux i686; rv:1.9.6.20) Gec...,Kim-Oliver,869975209012056,06/26,9717.0,JCB 15 digit,johnnymiller@coleman.com,Diagnostic radiographer,128.222.40.234,en,NaN
12,"733 Heather Rest Apt. 670\nBoltonport, UT 78662",69 DO,AM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_3 ...,Moore-Martin,5115990487067905,05/26,119.0,VISA 16 digit,tholt@hotmail.com,"Surveyor, quantity",236.71.234.240,en,39.65
13,"118 Melton Via Suite 681\nAlexanderbury, FL 32104",36 bu,PM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_8...,Keller PLC,4603635169938574,01/25,557.0,VISA 16 digit,caitlin57@yahoo.com,"Accountant, chartered public finance",84.212.92.11,it,NaN
14,"8774 Jason Keys Suite 427\nEast Scottborough, ...",70 zH,AM,Mozilla/5.0 (Windows 98; it-IT; rv:1.9.2.20) G...,"Leach, Howe and Ferguson",869967499275071,09/22,427.0,VISA 16 digit,aburns@yahoo.com,Acupuncturist,50.25.148.1,de,NaN
15,"31730 Chelsea Crest\nBlakemouth, CT 90395-0620",41 Cj,PM,Opera/8.95.(Windows NT 5.0; en-US) Presto/2.9....,Garcia-Steele,180069437020404,04/25,404.0,Diners Club / Carte Blanche,amanda39@yahoo.com,Retail manager,53.176.235.33,el,71.78
16,5283 Thomas Trafficway Suite 343\nEast Brittne...,31 ho,AM,Opera/9.73.(Windows NT 6.2; sl-SI) Presto/2.9....,"Stanton, Villanueva and Swanson",676121145525,06/22,285.0,Diners Club / Carte Blanche,griffincatherine@wilson.com,"Therapist, art",8.145.170.52,de,84.44
17,950 Jacqueline Village Apt. 592\nPort Kimberly...,23 Rh,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Fernandez, Melton and Gilbert",3337515540944084,01/26,771.0,American Express,stacymitchell@hall.com,"Designer, jewellery",223.25.125.61,el,58.68
18,"461 Christopher Square\nWest Michaelchester, C...",17 SB,PM,Mozilla/5.0 (X11; Linux i686; rv:1.9.6.20) Gec...,"Beard, Abbott and Pena",6011350184276270,12/22,767.0,Mastercard,hannah63@yahoo.com,Photographer,73.250.176.201,el,70.15
19,"125 Hall Summit\nBoothton, IL 41721",99 CU,PM,Mozilla/5.0 (compatible; MSIE 7.0; Windows NT ...,Turner-Mckinney,676343504830,02/20,440.0,VISA 16 digit,ruiznicole@gmail.com,"Designer, interior/spatial",25.105.209.214,fr,58.39
20,"7383 George Village\nLake Jamesview, CO 79828",23 dk,PM,Mozilla/5.0 (Windows; U; Windows NT 4.0) Apple...,"Santana, Montes and Pierce",6011833038852776,03/22,740.0,Maestro,zstephenson@smith.info,Public relations officer,250.71.54.180,de,30.33
21,"282 Miller Valleys Suite 404\nWilkinsonbury, M...",24 RZ,AM,Mozilla/5.0 (compatible; MSIE 6.0; Windows NT ...,Guzman-Reese,5491255326230898,03/25,506.0,JCB 16 digit,rsmith@hotmail.com,"Presenter, broadcasting",125.58.66.253,it,90.93
22,"625 Laura Summit Suite 112\nShortmouth, AK 97156",45 oa,PM,Mozilla/5.0 (Windows 95) AppleWebKit/5342 (KHT...,Burnett Ltd,3158663456056588,07/22,508.0,Discover,chambersmichael@gmail.com,Retail manager,65.106.61.141,en,33.62
23,"25292 Shepherd Trail Apt. 798\nRussellmouth, S...",31 pS,PM,Mozilla/5.0 (compatible; MSIE 5.0; Windows 98;...,Cruz Inc,502010078983,02/23,60.0,VISA 13 digit,ltaylor@gardner-meadows.com,Field seismologist,25.193.145.116,ru,97.97
24,Unit 3046 Box 3197\nDPO AE 61496-4172,62 Ac,AM,Mozilla/5.0 (compatible; MSIE 6.0; Windows CE;...,Morris PLC,4749728852401144,07/18,NaN,JCB 15 digit,james07@yahoo.com,Musician,21.113.231.220,es,85.31
25,"80797 Ryan Trail Apt. 752\nAaronhaven, MI 0622...",66 SO,PM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_7_1...,Saunders-Mendez,869938033091779,05/19,901.0,Voyager,madison41@mooney.com,Training and development officer,67.26.186.226,de,NaN
26,"5334 Sheppard Fort\nNorth Kirsten, ND 71170",40 ND,AM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_3)...,"Stephens, Johnson and Combs",60488441233,03/19,70.0,VISA 13 digit,mlogan@gmail.com,Barrister's clerk,61.197.134.185,en,NaN
27,"5015 Smith Harbors\nSouth Ashley, OK 81283",34 JQ,PM,Opera/9.75.(Windows NT 6.0; en-US) Presto/2.9....,"Levine, Shaw and Jenkins",869948145612941,12/16,310.0,Diners Club / Carte Blanche,michael35@hotmail.com,Careers adviser,177.220.131.93,es,39.40
28,"50533 Cooper Cliffs\nNorth Jonathanberg, MD 20482",17 kP,PM,Mozilla/5.0 (Windows; U; Windows NT 6.1) Apple...,Reed Inc,180026477662982,11/24,NaN,JCB 15 digit,khandeborah@yahoo.com,"Scientist, research (life sciences)",142.131.235.225,es,70.75
29,"30755 Joshua Plaza Apt. 567\nWest Susanton, FM...",93 OP,PM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_6_7...,Goodwin Ltd,4170734785397597,07/22,319.0,Maestro,stonekaren@yahoo.com,Recycling officer,218.189.145.248,it,82.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,"0060 Keith Stream\nWestport, CO 47097",11 nt,PM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_8...,"Carpenter, Good and Hart",6011485664704662,07/19,543.0,Discover,rangelbrian@hotmail.com,Electrical engineer,242.8.85.205,en,NaN
9971,"5806 Martinez Point\nLake Abigailstad, MD 6183...",07 wl,AM,Mozilla/5.0 (X11; Linux i686) AppleWebKit/5360...,Brewer-Howard,5359660631103048,01/21,586.0,Voyager,leslierichards@warner.org,"Therapist, art",81.2.189.127,de,65.06
9972,"89504 Flynn Overpass Suite 822\nNew Elijah, WV...",23 eL,AM,Mozilla/5.0 (Windows NT 5.1; en-US; rv:1.9.2.2...,"Davis, Wise and Diaz",370589883240776,04/22,748.0,VISA 13 digit,kellycole@hotmail.com,"Sales professional, IT",102.53.225.61,zh,NaN
9973,"92126 Daniel Streets\nNorth Patricia, IA 10477",04 QN,PM,Mozilla/5.0 (Windows NT 5.2) AppleWebKit/5362 ...,Morrow Inc,501850922854,02/19,2708.0,American Express,rlewis@yahoo.com,"Editor, magazine features",201.88.164.123,en,83.30
9974,"500 Powell Rapid Apt. 114\nClarkfort, FL 70488",48 is,AM,Mozilla/5.0 (Windows 95) AppleWebKit/5312 (KHT...,Griffin-Lopez,630407297302,04/26,627.0,VISA 16 digit,paula72@yahoo.com,Sports therapist,166.220.170.176,el,66.45
9975,5208 Hanson Trail Suite 527\nSouth Jonathanshi...,67 OX,PM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_7_8...,Bowen-Nelson,5361597780221625,01/19,225.0,JCB 16 digit,taylordiaz@roman.net,"Education officer, museum",114.197.6.210,zh,NaN
9976,"5419 Cruz Island Apt. 033\nLake Todd, AK 24863...",93 FM,PM,Opera/9.38.(Windows NT 5.01; it-IT) Presto/2.9...,Henderson-Kelley,4458996242274056,08/21,291.0,VISA 16 digit,pbrown@gmail.com,Furniture designer,109.108.177.2,es,37.73
9977,"02182 Keith Expressway\nEast Shannon, CT 20578...",34 RL,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Deleon, Jacobson and Benton",4186094003664688,06/21,397.0,JCB 16 digit,daltoncarter@yahoo.com,Biomedical engineer,146.238.118.2,fr,94.93
9978,"991 Watts Court\nSouth Danielstad, IA 39032-8865",66 eb,AM,Mozilla/5.0 (Macintosh; PPC Mac OS X 10_7_3; r...,Perez Group,3088185172584201,11/21,589.0,Discover,ywhite@hotmail.com,"Designer, exhibition/display",232.219.30.162,de,NaN
9979,"00490 Joseph Haven Apt. 149\nWest Keithfurt, S...",69 XK,PM,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/5311 ...,Randall-Ramirez,346734838013255,10/23,224.0,JCB 16 digit,qjohnson@yahoo.com,Lawyer,17.76.83.105,en,NaN
9980,"6061 Dave Lights\nPhillipsview, UT 40500",25 Mv,AM,Opera/8.58.(Windows NT 5.0; it-IT) Presto/2.9....,Cortez-Frye,6011944199756993,12/24,755.0,JCB 15 digit,mark74@kirby-stewart.org,Textile designer,110.103.77.195,fr,NaN
9981,"087 Larson Roads Apt. 587\nRicestad, WI 98077-...",95 Kw,AM,Opera/9.63.(Windows NT 5.01; en-US) Presto/2.9...,"Ortiz, Schultz and Adams",4690863684605,01/19,695.0,Mastercard,laurenbennett@richards.com,Environmental education officer,106.21.237.73,pt,63.61
9982,"18044 Mcintosh Row Apt. 122\nLake Jennifer, NC...",77 uq,PM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_6_0...,Chen LLC,210040992311995,09/18,79.0,JCB 16 digit,heather24@gmail.com,Restaurant manager,93.254.124.2,it,56.25
9983,"PSC 5678, Box 4503\nAPO AP 94998-5546",79 cd,AM,Mozilla/5.0 (compatible; MSIE 8.0; Windows NT ...,Hall-Cantu,343856674589081,04/23,206.0,JCB 16 digit,jacksonmanuel@rodriguez-welch.com,"Scientist, research (life sciences)",245.22.66.225,de,47.70
9984,"7560 Boyle Keys\nAntoniomouth, DC 00522-0367",72 Qb,AM,Mozilla/5.0 (Windows; U; Windows 98; Win 9x 4....,Johnson-Brandt,3088208142188125,03/21,572.0,Maestro,clee@vasquez-luna.com,"Editor, commissioning",140.157.37.218,el,33.57
9985,"7456 Stevens Rest\nEricside, FL 16389",27 Yv,PM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Murphy-Cook,6011264939622870,08/21,847.0,VISA 16 digit,cranejames@white.com,"Designer, interior/spatial",188.73.131.92,de,46.33
9986,"2719 Troy Drive Suite 062\nLisachester, PW 414...",80 Wl,PM,Mozilla/5.0 (Windows NT 5.2; sl-SI; rv:1.9.1.2...,Campbell-Hurley,4220882411745414,08/18,460.0,JCB 16 digit,belindaleon@schwartz.com,Cabin crew,110.103.102.55,it,NaN
9987,"2754 Klein Mission\nJohnsonview, PA 64925-9624",65 Fg,PM,Opera/9.26.(Windows CE; sl-SI) Presto/2.9.188 ...,Curtis LLC,180027305702263,12/24,865.0,Mastercard,denisehamilton@novak.biz,Primary school teacher,164.39.190.217,es,60.83
9988,"0154 Green Forest\nNew Timothy, IL 33670-4620",11 MC,AM,Mozilla/5.0 (compatible; MSIE 7.0; Windows 98;...,Williams-Walker,4207292109379681,10/16,571.0,Diners Club / Carte Blanche,hudsonmichael@pace.com,Charity fundraiser,136.169.160.82,de,89.76
9989,"5674 Cruz Trace\nNew Shelby, KY 51047-5469",12 Kf,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Vargas, Nichols and Martinez",5278049688438382,12/23,996.0,VISA 16 digit,walterswilliam@hotmail.com,Community development worker,39.162.164.169,pt,NaN
9990,"75731 Molly Springs\nWest Danielle, VT 96934-5102",93 ty,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_7_4;...,"Pace, Vazquez and Richards",869968197049750,04/24,877.0,JCB 15 digit,andersonmichael@sherman.biz,Early years teacher,54.170.3.185,ru,NaN
9991,"PSC 8165, Box 8498\nAPO AP 60327-0346",50 dA,AM,Mozilla/5.0 (compatible; MSIE 8.0; Windows NT ...,Snyder Inc,4221582137197481,02/24,969.0,Voyager,kking@wise-liu.com,IT sales professional,254.25.31.156,el,NaN
9992,"885 Allen Mountains Apt. 230\nWallhaven, LA 16995",40 vH,PM,Mozilla/5.0 (Macintosh; PPC Mac OS X 10_6_5) A...,Wells Ltd,4664825258997302,10/20,431.0,Discover,bberry@wright.net,Set designer,174.173.51.32,de,67.96
9993,"7555 Larson Locks Suite 229\nEllisburgh, MA 34...",72 jg,PM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_8...,Colon and Sons,30025560104631,10/25,629.0,Maestro,chelseawilliams@lopez.biz,"Designer, exhibition/display",177.46.82.128,el,65.61
9994,"6276 Rojas Hollow\nLake Louis, WY 56410-7837",93 Ex,PM,Opera/9.68.(X11; Linux x86_64; sl-SI) Presto/2...,Ritter-Smith,3112186784121077,01/25,1823.0,Maestro,iroberts@gmail.com,"Education officer, museum",242.44.112.18,zh,31.85
9995,"966 Castaneda Locks\nWest Juliafurt, CO 96415",92 XI,PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,Randall-Sloan,342945015358701,03/22,838.0,JCB 15 digit,iscott@wade-garner.com,Printmaker,29.73.197.114,it,82.21
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",210033169205009,07/25,207.0,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,NaN
9997,Unit 4434 Box 6343\nDPO AE 28026-0283,74 Zh,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Anderson Ltd,6011539787356311,05/21,NaN,VISA 16 digit,tyler16@gmail.com,Veterinary surgeon,156.210.0.254,el,83.98
9998,"0096 English Rest\nRoystad, IA 12457",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,180003348082930,11/17,987.0,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,es,38.84
9999,"40674 Barrett Stravenue\nGrimesville, WI 79682",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4139972901927273,02/19,302.0,JCB 15 digit,rachelford@vaughn.com,"Embryologist, clinical",176.119.198.199,el,67.59