In [1]:
i=[10,24,45,78,67,36]
i[0:3]

[10, 24, 45]

In [2]:
i[:5]

[10, 24, 45, 78, 67]

In [3]:
print(type(list()))

<class 'list'>

In [8]:
s=[]
print(s.append(30))

None

In [19]:
s=[9,67,78]
count=0
for a in s:
    print(count," - ",a)
    count=count+1

0  -  9
1  -  67
2  -  78

In [20]:
print(len(s))

3

In [7]:
total=0
count=0
value=0.0
while True:
    inp=print(input("entera no"))
    if inp=='-1':
        break
    else:
        value=float(inp)
        total=total+value
        count=count+1
        average=total/count
        print("average:",average)

entera no4
4

TypeError: float() argument must be a string or a number, not 'NoneType'

In [8]:
abc='hello world mine'
print(abc.split())

['hello', 'world', 'mine']

In [ ]:
list2=[12,45,34,67,67]
key=print(input("ente a key value"))
for