In [5]:
lst=[1,2,4,3,5,36,2,3,4]
print(lst.count(2))

2

In [8]:
print(lst.index(2))

1

lst.insert(1,5)
print(lst

In [10]:
lst.insert(1,5)
print(lst)

[1, 5, 2, 4, 3, 5, 36, 2, 3, 4]

##

In [11]:
lst2=[1,3,"hello","hai"]
lst3=["how","are","u"]
lst2.extend(lst3)
print(lst2)

[1, 3, 'hello', 'hai', 'how', 'are', 'u']

### extend

In [12]:
lst2.reverse()

In [13]:
print(lst2)

['u', 'are', 'how', 'hai', 'hello', 3, 1]

In [15]:
lst3=[3,5,6,8,1,2,0]
lst3.sort()

In [16]:
print(lst3)

[0, 1, 2, 3, 5, 6, 8]

In [17]:
str2=['hai','afff','yte','brad']
str2.sort()

In [19]:
print(str2)

['afff', 'brad', 'hai', 'yte']

In [20]:
str2.sort(reverse=True)
print(str2)

['yte', 'hai', 'brad', 'afff']

In [21]:
x=[10,20,30,40]
y=x[:]
y[1]=300
print(x)
print(y)

[10, 20, 30, 40]
[10, 300, 30, 40]

In [27]:
x=[10,20,30,40]
y=x.copy()
y[1]=300
print(x)
print(y)

[10, 20, 30, 40]
[10, 300, 30, 40]

In [29]:
a=[10,20,30,40,50]
b=[50,40,30,20,10]
c=a+b
print(c)

[10, 20, 30, 40, 50, 50, 40, 30, 20, 10]

In [30]:
y=a*3
print(y)

[10, 20, 30, 40, 50, 10, 20, 30, 40, 50, 10, 20, 30, 40, 50]

In [34]:
u=["mite","mangalore"]
v=["nite","mangalore"]
w=["mite","mangalore"]
u==v

False

In [32]:
u!=v

True

In [35]:
u==w

True

#

In [36]:
v[1][4]

'a'

In [42]:
lst=['12','56',10,12]
lst[2]

10

In [43]:
lst[2][2]

TypeError: 'int' object is not subscriptable

In [44]:
s=[2**x for x in range(1,6)]
print(s)

[2, 4, 8, 16, 32]

In [45]:
words=["MITE","MANGALORE","VIJJU","PUTTA"]
L=[w[0] for w in words]
print(L)

['M', 'M', 'V', 'P']

In [48]:
n=int(input('enter nom range'))
for i in (2,n):
    for j in range(2,n):
        if i%j!=0:
            print(i)

enter nom range7
2
2
2
2
7
7
7
7
7

In [56]:
def prime(no):
    for i in lst:
        if no%i==0:
            flag=1
            break
        else:
            flag=0
    if flag==0:      
        print("prime")
    else:
        print("no a prime")
        
    
no=int(input("enter number"))
lst=[2,3,5,7]
prime(no)

enter number45
no a prime

In [57]:
def times(var):
    return var*2
seq=[1,2,3,4,5]
list(map(times,seq))

[2, 4, 6, 8, 10]

In [61]:
lambda var:var*2
list(map(lambda var:var*2,seq))
list(filter(lambda item:item%2==0,seq))

[2, 4]